In [15]:
import pandas as pd

In [16]:
female_df = pd.read_excel('data/female_data.xlsx', header = None)
male_df = pd.read_excel('data/male_data.xlsx', header = None)

In [17]:
female_df

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,FEMALE 1,NaN,NaN,FEMALE 2,NaN,NaN,FEMALE 3
1,Weight of the spider in grams,NaN,NaN,0.0259,NaN,NaN,0.0409,NaN,NaN,0.0337
2,peak No.,Name of the chemical compound,time,peak area,NaN,time,peak area,NaN,time,peak area
3,1,lactic acid,10.36,306276,NaN,10.36,599444,NaN,10.35,1614099
4,2,octadecane (internal standard),36.27,114336794,NaN,36.28,106504478,NaN,36.27,91818459
5,3,palmitic acid,42.63,5437156,NaN,42.62,3776478,NaN,42.62,5302925
6,4,octadecanol,45.25,262720,NaN,45.25,202772,NaN,45.24,588176
7,5,linoleic acid,46.48,899828,NaN,46.47,1431460,NaN,46.46,1485939
8,6,oleic acid,46.6,1342693,NaN,46.6,2298380,NaN,46.6,2257543
9,7,stearic acid,47.2,11097185,NaN,47.19,8773061,NaN,47.2,10853858
10,8,tricosan,48.35,395910,NaN,48.36,4563120,NaN,48.36,1891264
11,9,18-methylnonadecanol,49.61,1084493,NaN,49.59,267257,NaN,49.6,1510023
12,10,hexacosan,52.54,1870631,NaN,52.53,3270366,NaN,52.53,3368928
13,11,alcohol 1 (unidentified),54.32,3918470,NaN,54.3,3694311,NaN,54.31,4013524
14,12,2-methylpentacosan,55.73,4735813,NaN,55.71,2265493,NaN,55.74,5533853
15,13,methyl ether 1 (unidentified),56.3,2118842,NaN,56.29,1777441,NaN,56.29,2854544
16,14,heptacosan,56.42,2356808,NaN,56.41,1491320,NaN,56.41,1502129
17,15,methyl ether 2 (unidentified),59.38,5654211,NaN,59.63,1949223,NaN,59.37,5381995

In [18]:
male_df

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,MALE 1,NaN,MALE 2,NaN,MALE 4,NaN,MALE 5,NaN
1,Weight of the spider in grams,NaN,0.011,NaN,0.0141,NaN,0.0205,NaN,0.0179,NaN
2,peak No.,Name of the chemical compound,time,peak area,time,peak area,time,peak area,time,peak area
3,1,lactic acid,10.36,1217458,10.35,1459565,10.34,950678,10.37,948642
4,2,glycerol,20.07,724976,20.07,1191002,20.07,1284764,20.08,915017
5,3,octadecane (internal standard),36.27,92203407,36.27,117761857,36.27,108257164,36.27,113415135
6,4,myristic acid,37.65,499717,37.64,185031,37.63,268204,37.63,254688
7,5,palmitic acid,42.62,16183044,42.62,10902504,42.61,8900350,42.62,9091085
8,6,linoleic acid,46.47,5027211,46.47,4818509,46.46,2279290,46.47,6751089
9,7,oleic acid,46.61,3281436,46.59,3433640,46.59,2054650,46.61,3762240
10,8,stearic acid,47.2,17075191,47.19,14468435,47.19,11319450,47.19,13026327
11,9,methyl ether 3 (unidentified),55.1,7118271,55.1,6418127,55.1,6888724,55.09,10113574
12,10,methyl ether 4 (unidentified),55.72,17721417,55.73,24372856,55.73,28845115,55.74,55171633
13,11,methyl ether 5 (unidentified),55.9,1378469,55.9,2556514,55.89,1920234,55.89,3929970
14,12,methyl ether 6 (unidentified),56.06,2940743,56.05,3980462,56.06,4075970,56.07,7437274
15,13,methyl ether 7 (unidentified),56.3,14334359,56.3,22910600,56.29,18271922,56.3,31148757
16,14,methyl ether 8 (unidentified),58.81,1359581,58.8,3838094,58.8,2430033,58.81,3149864
17,15,methyl ether 9 (unidentified),59.92,1876094,59.92,7366394,59.91,3290826,59.92,7334970
18,16,cholesterol,64.5,2911013,64.5,5771400,64.5,3264541,64.5,5437628
19,17,β-sitosterol,67.59,854143,67.61,1350129,67.6,431548,67.61,1690474

In [19]:
## To determine the concentrations of the given compounds, we need the peak area values for each compound in the analysis.

In [20]:
female_peaks = female_df.drop([0, 1])
female_peaks = female_peaks.reset_index(drop=True)
female_peaks.columns = female_peaks.iloc[0]
female_peaks = female_peaks.drop(0).reset_index(drop=True)

female_peaks.columns = female_peaks.columns.astype(str)
female_peaks = female_peaks.drop(columns=[col for col in female_peaks.columns if 'time' in col or 'nan' in col])

new_names = ['FEMALE 1', 'FEMALE 2', 'FEMALE 3']

columns = female_peaks.columns

updated_columns = []
counter = 0

for col in columns:
    if 'peak area' in col:
        updated_columns.append(new_names[counter])
        counter += 1
    else:
        updated_columns.append(col)

female_peaks.columns = updated_columns

In [21]:
female_peaks

    peak No.   Name of the chemical compound   FEMALE 1   FEMALE 2  FEMALE 3
0          1                     lactic acid     306276     599444   1614099
1          2  octadecane (internal standard)  114336794  106504478  91818459
2          3                   palmitic acid    5437156    3776478   5302925
3          4                     octadecanol     262720     202772    588176
4          5                   linoleic acid     899828    1431460   1485939
5          6                      oleic acid    1342693    2298380   2257543
6          7                    stearic acid   11097185    8773061  10853858
7          8                        tricosan     395910    4563120   1891264
8          9            18-methylnonadecanol    1084493     267257   1510023
9         10                       hexacosan    1870631    3270366   3368928
10        11        alcohol 1 (unidentified)    3918470    3694311   4013524
11        12             2-methylpentacosan     4735813    2265493   5533853
12        13   methyl ether 1 (unidentified)    2118842    1777441   2854544
13        14                      heptacosan    2356808    1491320   1502129
14        15   methyl ether 2 (unidentified)    5654211    1949223   5381995

In [22]:
male_peaks = male_df.drop([0, 1])
male_peaks = male_peaks.reset_index(drop=True)
male_peaks.columns = male_peaks.iloc[0]
male_peaks = male_peaks.drop(0).reset_index(drop=True)

male_peaks.columns = male_peaks.columns.astype(str)
male_peaks = male_peaks.drop(columns=[col for col in male_peaks.columns if 'time' in col or 'nan' in col])

new_names = ['MALE 1', 'MALE 2', 'MALE 3', 'MALE 4']

columns = male_peaks.columns

updated_columns = []
counter = 0

for col in columns:
    if 'peak area' in col:
        updated_columns.append(new_names[counter])
        counter += 1
    else:
        updated_columns.append(col)

male_peaks.columns = updated_columns

In [23]:
male_peaks

,peak No.,Name of the chemical compound,MALE 1,MALE 2,MALE 3,MALE 4
0,1,lactic acid,1217458,1459565,950678,948642
1,2,glycerol,724976,1191002,1284764,915017
2,3,octadecane (internal standard),92203407,117761857,108257164,113415135
3,4,myristic acid,499717,185031,268204,254688
4,5,palmitic acid,16183044,10902504,8900350,9091085
5,6,linoleic acid,5027211,4818509,2279290,6751089
6,7,oleic acid,3281436,3433640,2054650,3762240
7,8,stearic acid,17075191,14468435,11319450,13026327
8,9,methyl ether 3 (unidentified),7118271,6418127,6888724,10113574
9,10,methyl ether 4 (unidentified),17721417,24372856,28845115,55171633
10,11,methyl ether 5 (unidentified),1378469,2556514,1920234,3929970
11,12,methyl ether 6 (unidentified),2940743,3980462,4075970,7437274
12,13,methyl ether 7 (unidentified),14334359,22910600,18271922,31148757
13,14,methyl ether 8 (unidentified),1359581,3838094,2430033,3149864
14,15,methyl ether 9 (unidentified),1876094,7366394,3290826,7334970
15,16,cholesterol,2911013,5771400,3264541,5437628
16,17,β-sitosterol,854143,1350129,431548,1690474

In [24]:
female_peaks.to_excel('data/female_peaks.xlsx')
male_peaks.to_excel('data/male_peaks.xlsx')

In [25]:
## To determine the concentrations of the given compounds, we also need the masses of the individual spiders.

In [26]:
female_weights = female_df.drop(index=0).reset_index(drop=True)

female_weights.columns = female_weights.iloc[0]

female_weights = female_weights.drop(index=1).reset_index(drop=True)

female_weights = female_weights.iloc[:1]

female_weights = female_weights.dropna(axis=1, how='all')

new_names = ['FEMALE 1', 'FEMALE 2', 'FEMALE 3']
female_weights.columns = [None] + new_names 

female_weights.columns = [col if col != 'Weight of the spider in grams' else '' for col in female_weights.columns]

female_weights

                            None FEMALE 1 FEMALE 2 FEMALE 3
0  Weight of the spider in grams   0.0259   0.0409   0.0337

In [27]:
male_weights = male_df.drop(index=0).reset_index(drop=True)

male_weights.columns = male_weights.iloc[0]

male_weights = male_weights.drop(index=1).reset_index(drop=True)

male_weights = male_weights.iloc[:1]

male_weights = male_weights.dropna(axis=1, how='all')

new_names = ['MALE 1', 'MALE 2', 'MALE 3', 'MALE 4']
male_weights.columns = [None] + new_names 

male_weights.columns = [col if col != 'Weight of the spider in grams' else '' for col in male_weights.columns]

male_weights

                            None MALE 1  MALE 2  MALE 3  MALE 4
0  Weight of the spider in grams  0.011  0.0141  0.0205  0.0179

In [28]:
female_weights.to_excel('data/female_weights.xlsx')
male_weights.to_excel('data/male_weights.xlsx')